@model DonerSermaye.Models.Data.Istekler

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/bolumbaskan.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Istekler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Konu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Konu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ozet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ozet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OnayNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OnayNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TurNoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TurNoNavigation.TurNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IstekNo">Edit</a> |
    <a asp-action="Index">Geri Dön</a>
</div>
