@model IEnumerable<DonerSermaye.Models.Data.MyModel3>

@{
    ViewData["Title"] = "İstatistikler";
    ViewData["Baslik"] = "İstatistikler";
    Layout = "~/Views/Shared/bolumbaskan.cshtml";
}

@{
var sw = "";
    @if(ViewData["Filtre"] == "filtre")
{
sw = "show";
}
else
{
<button class="btn btn-warning" style="margin-bottom:10px;" data-toggle="collapse" data-target="#filtre">Filtreleme</button>
}
}
<div id="filtre" class="collapse @sw">
    <form action="~/Istatistik/LabBolum" method="get">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Firma</label>
                    <select name="FirmaId" id="FirmaId" class="form-control" asp-items="ViewBag.FirmaId"> <option value="">Bütün Firmalar</option></select>
                </div>
            </div>
        </div>
        @{
    var tBas = "";
    var tBit = "";
    if(@ViewBag.BaslamaTarihi == null)
    {
        tBas = "";
    }
    else
    {
        tBas = @Convert.ToDateTime(@ViewBag.BaslamaTarihi).ToString("yyyy-MM-dd");
    }

    if(@ViewBag.BitisTarihi == null)
    {
        tBit = "";
    }
    else
    {
        tBit = @Convert.ToDateTime(@ViewBag.BitisTarihi).ToString("yyyy-MM-dd");
    }

        }
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="BaslamaTarihi" class="control-label">Fatura Tarihi Başlangıç</label>
                    <input id="BaslamaTarihi" name="BaslamaTarihi" class="form-control" value="@tBas" type="date" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="BitisTarihi" class="control-label">Fatura Tarihi Bitiş</label>
                    <input id="BitisTarihi" name="BitisTarihi" class="form-control" value="@tBit" type="date" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Listele" />
                    @if(ViewData["Filtre"] == "filtre")
                    {
                        <a asp-action="Bolum" class="btn btn-danger">Filtreyi Temizle</a>
                    }
                </div>
                
            </div>

        </div>
    </form>
</div>
<div id="IcerikAlani">
    <table class="table table-bordered table-hover table-condensed" border="1" style="border-collapse:collapse">
        <thead>
            <tr>
                <th>
                    İş Türü
                </th>
                <th>
                    İş Sayısı
                </th>
                <th>
                    Toplam Tutar (Toplam)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsTuru)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToplamTutar)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-right">
    <a href="javascript:CallPrint('IcerikAlani','@ViewData["Baslik"]')" class="btn btn-warning">Yazdır</a>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#FirmaId').select2({ width: '100%' });
            $('#BolumId').select2({ width: '100%' });
        });
    </script>
}