@model IEnumerable<DonerSermaye.Models.Data.Istekler>
@using Microsoft.AspNetCore.Http
@using DonerSermaye.Models.Helper

@{
    ViewData["Title"] = "Harcama Onayla";
    ViewData["Baslik"] = "Harcama Onayla";
    Layout = LayoutHelper.GetPath(@Context.Session.GetString("yetki"));
}
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">İncele</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach (var istek in Model)
                {
                    <p>Bolum: @istek.Bolum.</p>
                    <p>Tarih: @istek.Tarih</p>
                    <p>Aciklama: @istek.Aciklama</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <!-- Modal footer içeriğini buraya ekleyin -->
            </div>
        </div>
    </div>
</div>

<form action="IstekOnay" method="get">
    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <label>Bolüm</label>
                <select name="BolumId" id="BolumId" class="form-control" asp-items="ViewBag.BolumId"> <option value=""></option></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Firma</label>
                <select name="FirmaId" id="FirmaId" class="form-control" asp-items="ViewBag.FirmaId"> <option value=""></option></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Listele" />
            </div>

        </div>
    </div>
</form>
@if(ViewData["Filtre"] == "filtre")
{
<a asp-action="Index" class="btn btn-secondary">Filtreyi Temizle</a>
}
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>
                Tür
            </th>
            <th>
                Detay
            </th>
            
            <th>
                Yaklaşık Maliyet
            </th>
            <th>
                İncele
            </th>
            }
            <th>
                Bolum
            </th>
            <th>
                Onay
            </th>

            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TurNoNavigation.Tur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ozet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YaklasikMaliyet)
            </td>
            <td>
                <input type="button" class="btn btn-info btn-xs incele" data-content="@item.IstekNo" value="İncele" data-toggle="modal" data-target="#exampleModal2" /> |
                <!-- Buraya Yaklasik Maliyet Sonucu ve Incele Butonu eklenecek -Osman -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bolum.Bolum)
            </td>
            <td>
                @if (item.Onay == null)
                {
                    <span class="btn btn-default btn-xs">Onay Bekliyor</span>
                }
                else
                {
                    <span class="btn btn-success btn-xs">Onay Verildi</span>

                }
            </td>


            <td>
                <a asp-controller="IstekGir" asp-action="Edit" asp-route-id="@item.IstekNo" class="btn btn-warning btn-xs"><i class="fa fa-check"></i> Düzenle</a>
                <a asp-action="Onayla" asp-route-id="@item.IstekNo" class="btn btn-success btn-xs"><i class="fa fa-check"></i> Onayla</a>





            </td>
        </tr>
}
    </tbody>
</table>
