@model DonerSermaye.Models.Data.ViewModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "İş Listesi";
    ViewData["Baslik"] = "İş Listesi";
    Layout = "~/Views/Shared/doner.cshtml";
}

@{
    var sw = "";
    @if (ViewData["Filtre"] == "filtre")
    {
        sw = "show";
    }
    else
    {
    <button class="btn btn-warning" style="margin-bottom:10px;" data-toggle="collapse" data-target="#filtre">Filtreleme</button>
    }
}
<div id="filtre" class="collapse @sw">
    <form action="~/KesintiRapor/Index" method="get">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Bolüm</label>
                    <select name="BolumId" id="BolumId" class="form-control" asp-items="ViewBag.BolumId"> <option value="">Bütün Bölümler</option></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Firma</label>
                    <select name="FirmaId" id="FirmaId" class="form-control" asp-items="ViewBag.FirmaId"> <option value="">Bütün Firmalar</option></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Kesinti Türü</label>
                    <select name="KesintiTuru" id="KesintiTuru" class="form-control" asp-items="ViewBag.KesintiTurleri"> <option value="">Kesinti Türü</option></select>
                </div>
            </div>
        </div>
        @{
            var tBas = "";
            var tBit = "";
            if (@ViewBag.BaslamaTarihi == null)
            {
                tBas = "";
            }
            else
            {
                tBas = @Convert.ToDateTime(@ViewBag.BaslamaTarihi).ToString("yyyy-MM-dd");
            }

            if (@ViewBag.BitisTarihi == null)
            {
                tBit = "";
            }
            else
            {
                tBit = @Convert.ToDateTime(@ViewBag.BitisTarihi).ToString("yyyy-MM-dd");
            }

        }
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="BaslamaTarihi" class="control-label">Fatura Tarihi Başlangıç</label>
                    <input id="BaslamaTarihi" name="BaslamaTarihi" class="form-control" value="@tBas" type="date" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="BitisTarihi" class="control-label">Fatura Tarihi Bitiş</label>
                    <input id="BitisTarihi" name="BitisTarihi" class="form-control" value="@tBit" type="date" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>İş Numarası</label>
                    <input type="text" id="IsNo" name="IsNo" value="@ViewBag.IsNo" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Listele" />
                    @if (ViewData["Filtre"] == "filtre")
                    {
                    <a asp-action="Index" class="btn btn-danger">Filtreyi Temizle</a>
                    }
                </div>

            </div>

        </div>
    </form>
</div>
<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>
                İş Numarası
            </th>
            <th>
                İş Türü
            </th>
            <th>
                Bölüm
            </th>
            <th>
                Firma Adı
            </th>
            <th>
                Fatura Tarihi
            </th>
            <th>
                Fatura Numarası
            </th>
            <th>
                Kesinti Türü
            </th>
            <th>
                Kesinti Oranı (%)
            </th>
            <th>
                İş Tutarı
            </th>
            <th>
                Kesinti Tutarı
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.list)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bolum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirmaAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaturaTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaturaNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KesintiTuru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KesintiOran)
            </td>
            <td style="text-align:right;">
                @Html.DisplayFor(modelItem => item.Tutar)
            </td>
            <td style="text-align:right;">
                @Html.DisplayFor(modelItem => item.KesintiTutar)
            </td>
        </tr>

        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7"></td>
            <td>Toplam</td>
            <td style="text-align:right;">@Convert.ToDecimal(Model.list.Select(a => a.Tutar).Sum()).ToString("0.00")</td>
            <td style="text-align:right;">@Convert.ToDecimal(Model.list.Select(a => a.KesintiTutar).Sum()).ToString("0.00")</td>
        </tr>
    </tfoot>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#FirmaId').select2({ width: '100%' });
            $('#BolumId').select2({ width: '100%' });
        });
    </script>
}