@model IEnumerable<DonerSermaye.Models.Data.Personeller>

@{
    ViewData["Title"] = "Personel Listesi";
    ViewData["Baslik"] = "Personel Listesi";
    Layout = "~/Views/Shared/bolumbaskan.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-primary"> + Personel Ekle</a>
</p>
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TcKimlikNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unvan.Unvan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iban)
            </th>


            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TcKimlikNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unvan.Unvan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iban)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-pencil-square-o"></i> Düzenle</a>
                <a asp-action="Sifre" asp-route-id="@item.Id" class="btn btn-warning btn-xs"><i class="fa fa-pencil-square-o"></i> Şifre Değiştir</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Sil</a>
            </td>
        </tr>
        }
    </tbody>
</table>
