@model IEnumerable<DonerSermaye.Models.Data.EkmekTipleri>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/doner.cshtml";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Yeni Ekmek Tipi Tanımla</a>
</p>
<table class="table" id="dynamic-table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EkmekTipi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirimFiyat)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Kdv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EkmekTipi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirimFiyat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kdv)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
