@model IEnumerable<DonerSermaye.Models.Data.MyModel2>

@{
    ViewData["Title"] = "İş Detay Raporları";
    ViewData["Baslik"] = "İş Detay Raporları";
    Layout = "~/Views/Shared/doner.cshtml";
}

@{
var sw = "";
    @if(ViewData["Filtre"] == "filtre")
{
sw = "show";
}
else
{
<button class="btn btn-warning" style="margin-bottom:10px;" data-toggle="collapse" data-target="#filtre">Filtreleme</button>
}
}
<div id="filtre" class="collapse @sw">
    <form action="~/DekanlikRaporlar/IsDetayKisi" method="get">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Personel</label>
                    <select name="PersonelId" id="PersonelId" class="form-control" asp-items="ViewBag.PersonelId"> <option value=""></option></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Bolüm</label>
                    <select name="BolumId" id="BolumId" class="form-control" asp-items="ViewBag.BolumId"> <option value="">Bütün Bölümler</option></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Firma</label>
                    <select name="FirmaId" id="FirmaId" class="form-control" asp-items="ViewBag.FirmaId"> <option value="">Bütün Firmalar</option></select>
                </div>
            </div>
        </div>
        @{
    var tBas = "";
    var tBit = "";
    if(@ViewBag.BaslamaTarihi == null)
    {
        tBas = "";
    }
    else
    {
        tBas = @Convert.ToDateTime(@ViewBag.BaslamaTarihi).ToString("yyyy-MM-dd");
    }

    if(@ViewBag.BitisTarihi == null)
    {
        tBit = "";
    }
    else
    {
        tBit = @Convert.ToDateTime(@ViewBag.BitisTarihi).ToString("yyyy-MM-dd");
    }

        }
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="BaslamaTarihi" class="control-label">Fatura Tarihi Başlangıç</label>
                    <input id="BaslamaTarihi" name="BaslamaTarihi" class="form-control" value="@tBas" type="date" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="BitisTarihi" class="control-label">Fatura Tarihi Bitiş</label>
                    <input id="BitisTarihi" name="BitisTarihi" class="form-control" value="@tBit" type="date" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>İş Numarası</label>
                    <input type="text" id="IsNo" name="IsNo" value="@ViewBag.IsNo" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Listele" />
                    @if(ViewData["Filtre"] == "filtre")
                    {
                        <a asp-action="IsDetayKisi" class="btn btn-danger">Filtreyi Temizle</a>
                    }
                </div>
                
            </div>

        </div>
    </form>
</div>
<div id="IcerikAlani">
    <table class="table table-bordered table-hover table-condensed" border="1" style="border-collapse:collapse">
        <thead>
            <tr>
                <th>
                    İş Numarası
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BolumAdi)
                </th>
                <th>
                    Açıklama
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirmaAdi)
                </th>
                <th style="text-align: right;">
                    @Html.DisplayNameFor(model => model.Tutar)
                </th>
                <th style="text-align: right;">
                    @Html.DisplayNameFor(model => model.KesintiToplami)
                </th>
                <th>
                    Kişi
                </th>
                <th style="text-align: right;">
                    Kişi Payı
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FaturaTarihi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FaturaNo)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BolumAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirmaAdi)
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.Tutar) TL
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.KesintiToplami) TL
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonelAdi)
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.Kisi) TL
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaturaTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaturaNo)
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>Toplam</td>
                <td style="text-align:right;">@Convert.ToDecimal(Model.Select(a => a.KesintiToplami).Sum()).ToString("0.00") TL</td>
                <td></td>
                <td style="text-align:right;">@Model.Select(a => a.Kisi).Sum().ToString("0.00") TL</td>
                <td colspan="2"></td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="text-right">
    <a href="javascript:CallPrint('IcerikAlani','@ViewData["Baslik"]')" class="btn btn-warning">Yazdır</a>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#FirmaId').select2({ width: '100%' });
            $('#BolumId').select2({ width: '100%' });
            $('#PersonelId').select2({ width: '100%' });
        });
    </script>
}