@model DonerSermaye.Models.Data.Firmalar
@using Microsoft.AspNetCore.Http
@if (@Context.Session.GetString("yetki") == "2")
    {

        Layout = "~/Views/Shared/Index1.cshtml";
    }
    else if (@Context.Session.GetString("yetki") == "1")
    {

        Layout = "~/Views/Shared/bolumbaskan.cshtml";
    }
    else if (@Context.Session.GetString("yetki") == "3")
    {

        Layout = "~/Views/Shared/doner.cshtml";
    }
    @{
        ViewData["Title"] = "Firma Silme İşlemleri";
        ViewData["Baslik"] = "Firma Silme İşlemleri";

    }



    <h4 class="text-danger"><b>@Html.DisplayFor(model => model.FirmaAdi)</b> adlı firmayı silmek istiyor musunuz??</h4>
    <div>

        <dl class="dl-horizontal">
            <dt>
                Firma / İş Adı:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirmaAdi)
            </dd>
            <dt>
                Vergi No:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VergiNo)
            </dd>
            <dt>
                TC Kimlik No:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TcKimlikNo)
            </dd>
        </dl>
        <hr />
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="x Sil" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary"> <i class="ace-icon fa fa-external-link "></i>Firma Listesine Dön</a>
        </form>
    </div>
