@model IEnumerable<DonerSermaye.Models.Data.Firmalar>
@using Microsoft.AspNetCore.Http
@if (@Context.Session.GetString("yetki") == "2")
    {

        Layout = "~/Views/Shared/Index1.cshtml";
    }
    else if (@Context.Session.GetString("yetki") == "1")
    {

        Layout = "~/Views/Shared/bolumbaskan.cshtml";
    }
    else if (@Context.Session.GetString("yetki") == "3")
    {

        Layout = "~/Views/Shared/doner.cshtml";
    }

@{
        ViewData["Title"] = "Firma İşlemleri";
        ViewData["Baslik"] = "Firma İşlemleri";

}

<p>
    <a asp-action="Create" class="btn-primary btn btn-xs">Firma Ekle</a>
</p>
<form action="Firmalar" method="get">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Firma Adı / Vergi Numarası</label>
                <input type="text" id="FirmaFiltre" name="FirmaFiltre" value="@ViewBag.FirmaArama" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Filtrele" />
                @if(@ViewBag.FirmaArama != null)
                {
                    <a asp-action="Index" class="btn btn-danger">Filtreyi Temizle</a>
                }
            </div>
        </div>
    </div>
</form>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th>
                    Firma Adı
                </th>
                <th>
                    Vergi Dairesi
                </th>
                <th>
                    Vergi No
                </th>
                <th>
                    Tc Kimlik No
                </th>
                <th class="text-center"> İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirmaAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VergiDairesi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VergiNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TcKimlikNo)
                </td>
                <td class="text-center">
                    <a class="btn  btn-success btn-xs" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="ace-icon fa fa-pencil-square-o "></i>
                        Düzenle
                    </a>
                    <a class="btn  btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="ace-icon fa fa-trash-o "></i>
                        Sil
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
