@model DonerSermaye.Models.Data.Isler

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/doner.cshtml";
}

<h2>Sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Isler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tutar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kdv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kdv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BolumOnay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BolumOnay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaturaTarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaturaTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaturaNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaturaNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Durum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Durum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dagitim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dagitim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lab)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lab)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bolum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bolum.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaturaTipiNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaturaTipiNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Firma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firma.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hesap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hesap.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tur.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-default" /> |
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>
