@using Microsoft.AspNetCore.Http


@if (@Context.Session.GetString("yetki") == "4")
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>@ViewData["Title"] </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/tema/assets/js/jquery-2.1.4.min.js"></script>
        <script src="~/tema/assets/js/ace-extra.min.js"></script>
        <script src="~/tema/assets/js/genel.js"></script>
        <script src="~/select2/js/select2.js"></script>
        @RenderSection("Scripts", required: false)
        @RenderSection("Styles", required: false)
        <link rel="stylesheet" href="~/tema/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/tema/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/tema/assets/css/fonts.googleapis.com.css" />
        <link rel="stylesheet" href="~/tema/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
        <link rel="stylesheet" href="~/tema/assets/css/ace-skins.min.css" />
        <link rel="stylesheet" href="~/tema/assets/css/ace-rtl.min.css" />
        <link rel="stylesheet" href="~/select2/css/select2.css" />
        <script>
            $(document).ready(function () {

                var deger = $("#EkmekTipleriId").val();
                BirimFiyatGetir(deger);
                $("#EkmekTipleriId").change(function () {
                    var deger = $("#EkmekTipleriId").val();
                    BirimFiyatGetir(deger);
                    $("#Adet").val(0);
                    $("#ToplamFiyat").val(0);
                    hesaplama();

                });
                function BirimFiyatGetir(deger) {
                    $.ajax({
                        url: '/EkmekSiparis/BirimFiyatGetir/'+deger,
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            $.each(data, function (i, item) {
                                console.log(item);
                                //document.getElementById("birimfiyat").value = item.birimFiyat+" TL";
                                $("#birimfiyat").val(item.birimFiyat);
                            })
                        }
                    });
                }
               $("#Adet").change("input", function () {
                    hesaplama();
                });
                function hesaplama() {
                    var birimfiyat = $("#birimfiyat").val();
                    var adet = $("#Adet").val();
                    var toplam = birimfiyat * adet;
                    $("#ToplamFiyat").val(yuvarla(toplam,2));
                }
                function yuvarla(sayi, hane) {
                    return Number(Math.round(sayi + 'e' + hane) + 'e-' + hane);
                }
                var veri = [];
                var sayac = -1;
                var geneltoplam = 0;
                $("#Sipekle").click(function () {
                    sayac++;
                    var birimfiyat = $("#birimfiyat").val();
                    var adet = $("#Adet").val();
                    var id = $("#EkmekTipleriId").val();
                    var teslimtarihi = $("#TeslimTarihi").val();
                    var toplam = $("#ToplamFiyat").val();
                    var toplam2 = toplam.replace(".", ",");
                    geneltoplam = geneltoplam + parseFloat(toplam);
                    $('#ekmeksipariskaydi').val(geneltoplam + ' TL Sipariş Oluştur');
                    var ekmektipi = $("#EkmekTipleriId option:selected").text();
                    var firma = $("#FirmaId option:selected").val();
                    var firmaadi = $("#FirmaId option:selected").text();
                    $("#ekle1 table").append(
                        "<tr>"
                        + "<td>" + firmaadi + " TL</td><td>" + ekmektipi + "</td><td>" + birimfiyat + " TL</td><td>" + adet + "</td>" + birimfiyat + "TL</td><td>" + teslimtarihi + "</td><td>" + toplam + " TL</td>")

                    veri.push(
                        {
                            EkmekTipleriId: id,
                            SiparisTarihi: "11.11.2018",
                            FirmaId: firma,
                            Adet: adet,
                            TeslimTarihi: teslimtarihi,
                            ToplamFiyat:toplam
                        }
                    );
                    console.log(veri);
                });

                $("#ekmeksipariskaydi").click(function () {

                  $.ajax({
                      url: '@Url.Action("Kaydet", "EkmekSiparis")',
                      type: "POST",
                      data: {e_veri:veri},
                        datatype: 'json',
                      ContentType: 'application/json;utf-8',
                      success: function (data) {
                          if (data == 1) {
                              window.location.href = "../EkmekSiparis";
                          }
                      }
                    });
                });

            });
        </script>
    </head>

    <body class="no-skin">
        <div id="navbar" class="navbar navbar-default          ace-save-state">
            <div class="navbar-container ace-save-state" id="navbar-container">
                <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                    <span class="sr-only">Toggle sidebar</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-header pull-left">
                    <a href="index.html" class="navbar-brand">
                        <small>
                            <i class="ace-icon fa fa-cogs"></i>
                            Mühendislik Fakültesi Döner Sermaye Otomasyonu
                        </small>
                    </a>
                </div>

                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">
                        <li class="light-blue dropdown-modal">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <span>
                                    @Context.Session.GetString("kisi")
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.navbar-container -->
        </div>

        <div class="main-container ace-save-state" id="main-container">
            <script type="text/javascript">
                try { ace.settings.loadState('main-container') } catch (e) { }
            </script>

            <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
                <script type="text/javascript">
                    try { ace.settings.loadState('sidebar') } catch (e) { }
                </script>
                <ul class="nav nav-list">
                    <li class="">
                        <a href="/EkmekSiparis/Create">
                            <i class="menu-icon fa fa-tachometer"></i>
                            <span class="menu-text">Sipariş Oluştur</span>
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/EkmekSiparis">
                            <i class="menu-icon fa fa-tachometer"></i>
                            <span class="menu-text">Siparişlerim</span>
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/EkmekRaporu">
                            <i class="menu-icon fa fa-tachometer"></i>
                            <span class="menu-text">Sipariş Raporu</span>
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/EkmekGelir">
                            <i class="menu-icon fa fa-tachometer"></i>
                            <span class="menu-text">Günlük Gelir Girişi</span>
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/Cikis">
                            <i class="menu-icon fa fa-power-off"></i>
                            Çıkış Yap
                        </a>
                    </li>
                </ul><!-- /.nav-list -->


            </div>

            <div class="main-content">
                <div class="main-content-inner">


                    <div class="page-content">
                        <div class="page-header">
                            <h1>
                                @ViewData["Baslik"]
                                <small>
                                    <i class="ace-icon fa fa-angle-double-right"></i>

                                </small>
                            </h1>
                        </div>


                        <div class="row">
                            <div class="col-xs-12">
                                @RenderBody()
                                <!-- PAGE CONTENT BEGINS -->
                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.page-content -->
                </div>
            </div><!-- /.main-content -->

            <div class="footer">
                <div class="footer-inner">
                    <div class="footer-content">
                        <span class="bigger-120">
                            <span class="blue bolder">Ege Üniversitesi</span>
                            Bilgisayar Mühendisliği - 2018
                        </span>

                    </div>
                </div>
            </div>

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div><!-- /.main-container -->
        <!-- basic scripts -->
        <!--[if !IE]> -->

        <!-- <![endif]-->
        <!--[if IE]>
        <script src="assets/js/jquery-1.11.3.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
            if ('ontouchstart' in document.documentElement) document.write("<script src='~/tema/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
        </script>
        <script src="~/tema/assets/js/bootstrap.min.js"></script>

        <!-- page specific plugin scripts -->
        <!-- ace
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script> scripts -->

        <script src="~/tema/assets/js/ace-elements.min.js"></script>
        <script src="~/tema/assets/js/ace.min.js"></script>

        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>


        <!-- inline scripts related to this page -->
    </body>
</html>
}
else
{
<section style="display:none">
    @RenderBody()
</section>

<script type="text/javascript">
<!--
    window.location = "/Giris"
//-->
</script>
}



