@model DonerSermaye.Models.Data.Duyurular

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/doner.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Duyurular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duyuru)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duyuru)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GonderenNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GonderenNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DuyuruNo">Edit</a> |
    <a asp-action="Index">Geri Dön</a>
</div>
