@model DonerSermaye.Models.Data.BSBAListViewModel
@{
    ViewData["Title"] = "BS/BA Listesi";
    ViewData["Baslik"] = "BS/BA Listesi";
    Layout = "~/Views/Shared/doner.cshtml";
}
<form method="get">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Ay</label>
                <select onchange="this.form.submit()" name="ay" id="ay" class="form-control" asp-items="ViewBag.Aylar"></select>
            </div>
        </div><div class="col-md-4">

    <div class="form-group">
        <label>Yil</label>
        <select onchange="this.form.submit()" name="yil" id="yil" class="form-control" asp-items="ViewBag.Yillar"></select>
    </div>
</div>
    </div>
</form>

<h3>BS Formu</h3>
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>
                Firma Adı
            </th>
            <th>
                Vergi No
            </th>
            <th>
                Fatura Sayısı
            </th>
            <th>
                Toplam Tutar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BSList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirmaAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VergiNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaturaSayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tutar)
                </td>
            </tr>
        }

    </tbody>
</table>


<h3>BA Formu</h3>
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>
                Firma Adı
            </th>
            <th>
                Vergi No
            </th>
            <th>
                Fatura Sayısı
            </th>
            <th>
                Toplam Tutar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BAList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirmaAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VergiNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaturaSayisi) (@Html.DisplayFor(modelItem => item.eFaturaSayisi) e-Fatura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tutar)
                </td>
            </tr>
        }

    </tbody>
</table>


