@model DonerSermaye.Models.Data.ViewModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "İş Listesi";
    ViewData["Baslik"] = "İş Listesi";
    Layout = "~/Views/Shared/Index1.cshtml";
}
<p>
    <a asp-action="Create" class="btn btn-primary">İş Ekle</a>
</p>
<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>
                İş Numarası
            </th>
            <th>
                Firma Adı
            </th>
            <th>
                Fatura Tarihi
            </th>
            <th>
                Fatura Numarası
            </th>
            <th>
                Toplam Tutar
            </th>
            <th>
                Tür
            </th>

            <th>
                Onay Durumu
            </th>
            <th>
                Fakülte Onayı
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.list)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirmaAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaturaTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaturaNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tur)
            </td>
            @if (item.Bonay == 1)
                {
            <td class="btn-success">Onaylandı</td>
                }
                else if (item.Bonay == 0)
                {
            <td class="btn-warning">Onay Bekleniyor</td>
                }
                else if (item.Bonay == -1)
                {
            <td class="btn-danger">İade Edildi</td>
                }

            @if (item.Gonay == 1)
                {
            <td class="btn-info">Dağıtıldı</td>
                }
                else if (item.FaturaTipi == 1)
                {
            <td class="btn-success">Onaylandı</td>
                }
                else
                {
            <td class="btn-warning">Onay Bekliyor</td>
                }

        <td>
            @if(item.Bonay == -1)
                    {
            <a class="btn btn-success btn-xs" asp-action="Edit" asp-route-id="@item.IsId"><i class="ace-icon fa fa-pencil-square-o "></i>Düzenle</a>
            <a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.IsId"><i class="ace-icon fa fa-pencil-square-o "></i>Sil</a>
                    }
        </td>
        </tr>

        }
    </tbody>
</table>
