@model DonerSermaye.Models.Data.EkmekSiparis

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/doner.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EkmekSiparis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiparisTarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiparisTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToplamFiyat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToplamFiyat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeslimTarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeslimTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EkmekTipiNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EkmekTipiNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Geri Dön</a>
</div>
