@model IEnumerable<DonerSermaye.Models.Data.KesintiOran>

@{
    ViewData["Title"] = "Kesinti Oranları";
    ViewData["Baslik"] = "Kesinti Oranları";
    Layout = "~/Views/Shared/doner.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Oran Ekle</a>
</p>
<table class="table table-bordered table-hover table-condensed" >
    <thead>
        <tr>
            <th>
                İş Tipi
            </th>
            <th>
                Kesinti
            </th>
            <th>
                Kesinti Ayrıntı
            </th>
            <th>
                Oran
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tur.Tur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KesintiTip.KesintiTipi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KesintiTip.kesintiTipAyrinti.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oran)

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Düzenle</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Sil</a>

            </td>
        </tr>
}
    </tbody>
</table>
