@model IEnumerable<DonerSermaye.Models.Data.IsTalepleri>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "İş Talep Listesi";
    ViewData["Baslik"] = "İş Talep Listesi";
    Layout = "~/Views/Shared/Index1.cshtml";
}
@if (@Context.Session.GetString("yetki") == "2")
{

    Layout = "~/Views/Shared/Index1.cshtml";
}
else if (@Context.Session.GetString("yetki") == "1")
{

    Layout = "~/Views/Shared/bolumbaskan.cshtml";
}
else if (@Context.Session.GetString("yetki") == "3")
{

    Layout = "~/Views/Shared/doner.cshtml";
}
<p>
    <a asp-action="Create" class="btn btn-primary"> + Yeni İş Türü Talebi Oluştur</a>
</p>
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>
                Açıklama
            </th>
            <th>
                Firma
            </th>
            <th>
                Tutar
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firma.FirmaAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutar)
            </td>
            <td>

                @{
                    var ob = "Onay Bekliyor";
                    var obl = "warning";
                }
                @if(item.BolumOnay == 1)
                {
                    ob = "Onaylandı";
                    obl = "success";
                <a href="/PrintIsTalebi/Index/@item.Id" target="_blank" class="btn btn-primary btn-xs"><i class="fa fa-pencil-square-o"></i> Yazdır</a>
                }
                else if(item.BolumOnay == -1)
                {
                    ob = "Reddedildi";
                    obl = "danger";
                <div class="alert alert-danger">Sebep: @item.RedSebebi</div>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-pencil-square-o"></i> Düzenle</a>
                }
                else
                {
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-pencil-square-o"></i> Düzenle</a>
                }

                <a class="btn btn-@obl btn-xs">@ob</a>
            </td>
        </tr>
        }
    </tbody>
</table>
