@model IEnumerable<DonerSermaye.Models.Data.Yetkiler>

@{
    ViewData["Title"] = "Index";
    ViewData["Baslik"] = "Yetkiler";
    Layout = "~/Views/Shared/Index1.cshtml";
}

<p>
    <a asp-action="Create">Yeni Yetki Ekle</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Yetki)
                </th>
            <th>
                İşlemler
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Yetki)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
