@model DonerSermaye.Models.Data.KesintiOran

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/doner.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KesintiOran</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Oran)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Oran)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kesinti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kesinti.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Geri Dön</a>
</div>
