@model DonerSermaye.Models.Data.Isler
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Rapor";
    ViewData["Baslik"] = "Rapor";

}
<table class="table table-hover table-bordered" style="border:none !important;page-break-before:always;">
    <tbody>
        <tr>
            <td style="border: none !important; width: 20%">
                <img width="80" src="~/images/ege.png" />
            </td>
            <td style="border: none !important; text-align: center; width: 60%">
                T.C.<br />
                EGE ÜNİVERSİTESİ REKTÖRLÜĞÜ<br />
                Mühendislik Fakültesi Dekanlığı <br />
                @Model.Bolum.Bolum Bölüm Başkanlığı
            </td>
            <td style="border: none !important; width: 20%">
            </td>
        </tr>
    </tbody>
</table>
<div style="margin-top:30px;margin-left:20px;">
    Sayı: @Model.BolumId.@Model.Id<br />
    Konu: @Model.Tur.Tur
    <span style="float:right;">Tarih: @DateTime.Now.ToString("dd.MM.yyyy")</span>
</div>
<div style="margin-top: 30px; width: 100%; text-align: center;">MÜHENDİSLİK FAKÜLTESİ DEKANLIĞINA</div>
<br />
<br />
<div style="margin-left:20px;">&emsp;&emsp;&emsp;Bölümümüze @Model.Firma.FirmaAdi adlı firma tarafından @Model.Tutar.Value.ToString("0.00") TL ödeme yapılmıştır. Gelir vergisi ve Damga Vergisi haricindeki yasal kesintiler yapıldıktan sonra aşağıda listelenen personele dağıtımı uygun bulunmuştur.</div>
<div style="margin-left:20px;">&emsp;&emsp;&emsp;Bilgilerinizi ve gereğini arz ederim.</div>
<div style="margin-top:30px;margin-left:20px;">
    <table style="width:300px;" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th style="padding: 2px;">
                    Ad Soyad
                </th>
                <th style="padding: 2px;">
                    Tutar
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                    decimal? ttz = 0;
            }
            @foreach (var z in Model.IsAyrinti)
                {
                    ttz = ttz + z.Tutar;
            <tr>
                <td style="padding: 2px;">
                    @z.Personel.Unvan.Unvan @z.Personel.Ad @z.Personel.Soyad
                </td>
                <td style="padding: 2px;">@z.Tutar.Value.ToString("0.00") TL</td>
            </tr>
                }

        </tbody>
        <tfoot>
            <tr>
                <td style="padding: 2px;">
                    <strong>Toplam</strong>
                </td>
                <td style="padding: 2px;">
                    <strong>@ttz.Value.ToString("0.00") TL</strong>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div style="width:100%;text-align:right;"><div style="width:200px;float:right;text-align:center;">@Context.Session.GetString("kisi") <br />Bölüm Başkanı</div></div>
@if(Model.Aciklama != "")
{ 
    <div style="width:400px;margin-top:100px;margin-left:20px;">İş Detayı <hr style="margin-top: 5px; margin-bottom: 10px; " />  @Html.Raw(Model.Aciklama.Replace("\r", "<br />"))</div>
}
@section Scripts
{
    <script>
        $(document).ready(function () {

            window.onafterprint = window.close;
                window.print();
        });
    </script>
}