@model IEnumerable<DonerSermaye.Models.Data.Isler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/doner.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tutar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kdv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BolumOnay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FaturaTarihi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FaturaNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Durum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dagitim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lab)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Bolum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaturaTipiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hesap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tutar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kdv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BolumOnay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaturaTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaturaNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dagitim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bolum.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaturaTipiNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firma.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hesap.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tur.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
